[Unit]
Description=Initialise AIDE database on first boot
ConditionPathExists=!/var/lib/aide/aide.db.gz
After=local-fs.target

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/sbin/aide --init
ExecStartPost=/bin/mv /var/lib/aide/aide.db.new.gz /var/lib/aide/aide.db.gz

[Install]
WantedBy=multi-user.target
